<!-- 
<div class="header-search">
    <div *ngIf="isSearchClicked" class="overlay overlay-search overlay-fall d-flex ">
        <input type="search" name="" id="" class="search" placeholder="Search...">
        <button class="search-btn">
            <i class="search-icon ri-search-line"></i>
        </button>
    </div>
    <button (click)="toggleSearchOverlay()" class="search-menu-btn ripple">
        <i *ngIf="!isSearchClicked" class="search-icon ri-search-line"></i>
        <i *ngIf="isSearchClicked" class="ri-close-line"></i>
    </button>

</div> -->
<!-- khi ta gọi đến searchOverLay thì xẽ hiện ra  -->


<!-- 
<div class="container">
    <div class="header-search">
        <div class="overlay" *ngIf="isSearchClicked">
            <button class="search-btn">
                <i class="search-icon ri-search-line search-icon-left "></i>
            </button>
            <input type="search" class="search" placeholder="Search...">
        </div>
        <button (click)="toggleSearchOverlay()" class="search-products">
            <i *ngIf="!isSearchClicked" class="search-icon ri-search-line"></i>
            <i *ngIf="isSearchClicked" class="search-icon ri-close-line"></i>
        </button>
    </div>

</div> -->

<!-- ____________ mobile-menu>_____________-->
